@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

body {
    background: #f5f6f7;
    color: #454569;
    font-family: Helvetica;
    margin: 0;
  }
header {
    width: 100%;
    height: 50px;
    background-color: #a178a6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    max-width: 100%;
    height:auto;
}  
.background-img {
   width: 100%; /* Set the width of the container */
   height: 100%; /* Set the height of the container */
   overflow: hidden; 
   object-fit: cover;
   max-width: 100%;
   height: auto;
}
.twister-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   padding-top: 80px;
   max-width: 100%;
   height: auto;

}
nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
    padding-left: 40%;
} 
nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  nav > ul > li {
    color: #e1e2df;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
  nav > ul > li:hover {
    background-color: #dfdfe2;
    color: #8888a5;
    cursor: pointer;
  }
h1,
h2 {
  font-family: Verdana, Tahoma;
}
h2 {
  margin-top: 0px;
  padding-top: 60px;
}
main {
    padding-top: 5px;
  }
  .about-the-app {
    padding-bottom: 100px;
  }

.languageStyle {
    color: #ef4444;
}
.difficultyStyle {
    color: #38bdf8;
}
.container {
    padding-left: 8%;
}
.twister-list {
    padding-left: 8%;
}
