@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}
@keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  /* @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } */
body {
    background: #f5f6f7;
    color: #454569;
    font-family: Helvetica;
    margin: 0;
  }
header {
    width: 100%;
    background-color: #a178a6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    max-width: 100%;
    height:auto;
    z-index: 1;
}  
.background-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}
.background-img:hover {
    transform: scale(1.1);
}

 .twister-img {
    width: 300px;
    object-fit: cover;
    padding-top: 150px;
    max-width: 100%;
    height: auto;
 }
.nav-list {
    display: flex;
    align-items: center; 
    width: 50%;
    max-width: 300px;
    height: 50px;
    margin-left: auto; 
    margin-right: auto; 
}
.nav-list > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
.nav-list > ul > li {
    color: #e1e2df;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }

.nav-list > ul > li:hover {
    background-color: #dfdfe2;
    color: #8888a5;
    cursor: pointer;
  }
h1,
h2 {
  font-family: Verdana, Tahoma;
}
h2 {
  margin-top: 0px;
  padding-top: 60px;
}
main {
    padding-top: 5px;
    margin: 0 auto;
  }
  .about-the-app {
    padding-bottom: 100px;
  }

.languageStyle {
    border-radius: 1rem;
    color: white;
    background-color: #fca5a5;
    padding: 0.25rem 0.5rem;
    display: inline;
    }

.difficultyStyle {
    border-radius: 1rem;
    color: white;
    background-color:#38bdf8;;
    padding: 0.25rem 0.5rem;
    display : inline-flex;
}
.container {
    padding-left: 100px;
}
.twister-list {
    padding-left: 8%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

  #self-intro span {
    font-family: "Montserrat Medium";
    display: center;
    max-width: 40ch;
    animation: fadeIn 0.5s ease-in-out;
  }
  .twister-box {
    border: 2px solid #a178a6;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(71, 32, 76, 0.1);
    width: 100px;

  }
  
  .twister-box:hover {
    background-color: #fef9c3;
    box-shadow: 0 8px 16px rgba(71, 32, 76, 0.2); 
  }
  
  .twister-box button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }  
  .twister-container {
    position: relative;
  }
