@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}
@media (max-width: 400px) {
  .background-img {
      max-width: 400px; /* Set to 100% on smaller screens */
  }
}
@keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  /* @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } */
body {
    background: #f5f6f7;
    color: #454569;
    font-family: Helvetica;
    margin: 0;
  }
header {
    width: 100%;
    background-color: #a178a6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    max-width: 100%;
    height:auto;
    z-index: 1;
}  
.twister-header {
  color: #ffffff;
}
#filter-lang, #filter-diff{
  color: #ffffff;
}
.background-img {
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    padding-left: 7rem;
    transition: transform 0.5s ease-in-out; */
    max-width: 400px; /* Adjust the percentage based on your preference */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 2rem;
    transition: transform 0.5s ease-in-out;
}
.background-img:hover {
    transform: scale(1.1);
}
 .twister-img {
    /* width: 300px;
    /* object-fit: cover; */
    /* display: flex;
    position: relative;
    padding-top: 80px;
    padding-bottom: 30px;
    max-width: 100%;
    height: auto;
    padding-left: 200px; */
    max-width: 300px; 
    height: auto;
    display: block;
    margin: 0 auto; 
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
 } 
.nav-list {
    display: flex;
    align-items: center; 
    width: 50%;
    max-width: 300px;
    height: 50px;
    margin-left: auto; 
    margin-right: auto; 
}
.nav-list > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100px;
  }
.nav-list > ul > li {
    color: #e1e2df;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
    font-size: large;
  }

.nav-list > ul > li:hover {
    background-color: #dfdfe2;
    color: #8888a5;
    cursor: pointer;
  }
h1,
h2 {
  font-family: Verdana, Tahoma;
}
h2 {
  margin-top: 0px;
  padding-top: 60px;
}
main {
    padding-top: 5px;
    margin: 0 auto;
  }
.introduction {
  padding-left: 2rem;
}
.about-the-app {
    padding-bottom: 100px;
  }
.languageStyle, .difficultyStyle  {
    border-radius: 1rem;
    color: white; 
    padding: 0.25rem 0.5rem;
    display: inline-block;
    position: relative;
    }
.difficultyStyle {
    background-color:#38bdf8;;
}
.languageStyle {
  background-color: #fca5a5;
}
.container {
  padding-left: 100px;
  background-color: #a178a6;
  /* width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; */
  position: relative;
  display: flexbox;
  padding-top: 1rem;
  padding-bottom: 2rem;
  top: 0;
  max-width: 100%;
  height:auto;
  z-index: 1;
  font-size: large;
}
.twister-list {
    padding-left: 8%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    /* gap: 1rem; */
}
#app-info span {
    font-family: "Montserrat Medium";
    display: center;
    max-width: 40ch;
    animation: fadeIn 0.5s ease-in-out;
  }
#self-intro span {
    font-family: "Montserrat Medium";
    display: center;
    max-width: 10ch;
    animation: fadeIn 0.5s ease-in-out;
  }
.twister-box {
    border: 2px solid #a178a6;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(71, 32, 76, 0.1);
    width: 150px;
    margin: 0 auto;
  }
.twister-box:hover {
    background-color: #fef9c3;
    box-shadow: 0 8px 16px rgba(71, 32, 76, 0.2); 
  }
.twister-box button {
    position: relative;
    bottom: 0;
    display: block;
    margin-top: 2rem;
  }  
.twister-container {
    position: relative;
  }
.click {
    margin: 0 auto;
    padding-left: 5rem;
  }
#intro-text{
  font-family: "Montserrat Medium";
}
.introduction {
  max-width: 500px;
  margin: 0 auto;
  font-size: large;
}